<%- include("partials/header") -%>

    <h1><%= firstTitle %></h1>
    <p> <%= firstContent %> </p>
    <% composePosts.forEach(function(post){ %>
        <h1><%=post.postTitle %></h1>
        <p><%=post.postContent %></p>
    <%});%>
        

<%- include("partials/footer") -%>